<!-- copow / pythononwheels list template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->

{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}
{% import atest.config.settings as settings %}
{% set model=result %}
{% set server = settings.base["server"] %}
{% set port  = settings.base["port"] %}

<!-- Custom styles for this template -->
<link href={{ static_url("css/login.css") }} rel="stylesheet">

<script>
    var del;
    check_login = function(id) {
            console.log("check button clicked", id);
            console.log("data: " +(JSON.stringify($('#swbform').serializeJSON())))
            $.ajax( 
                {
                    type: 'POST',
                    url: "/login",
                    data: (JSON.stringify($('#loginform').serializeJSON())),
                    contentType: "application/json",
                    dataType: "json"
                }
            )
            .done(function(msg) {
                //alert( "success" );
                console.log(msg);
                //var payload = JSON.parse(msg.responseText);
                var url = msg["data"];
                console.log("redirecting to: ", url);
                window.location.replace(url);
                               

            })
            .fail(function( msg ) {
                //alert( "error" );
                console.log(msg);
                var payload = JSON.parse(msg.responseText);
                console.log(payload["data"]);
                $("#flash_message").text("Error :" + payload["data"]);
                 $("#flash_message_div").attr("class",
                    "alert alert-danger alert-dismissible"
                 )
                $("#flash_message_div").show();
            })
            .always(function() {
                //alert( "complete" );
                console.log("complete")
            });
        };
</script>

<!-- an optional flash-message -->
    <div class="" role="alert"  style="display: none;" id="flash_message_div">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">
            &times;</span><span class="sr-only">Close</span></button>
        <strong>Info:</strong> <span id="flash_message"></span>
    </div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <form class="form-horizontal" role="form" id="loginform">
        <h2 class="form-signin-heading">Welcome to #APPNAME, please sign in:</h2>
        <input type="text" id="loginname" name="loginname" class="form-control" placeholder="login" required>
        <span>&nbsp;</span>     
    </form>
    <button href class="btn btn-lg btn-success btn-block" id="khz"  onclick="check_login('{{model._id}}')">
            login
    </button>  
    
    


  </div>
  <div class="col-md-4"></div>
     
</div>

{% end %}