{% extends "layouts/main.html" %}

{# is rendered in the content block of main.html view view #}
{% block content %}
<div class="inner cover">
    <h2 class="cover-heading">copow == asynchronous PythonOnWheels.</h2>
    <p class="lead">
        <a href="http://www.pythononwheels.org">PyhtonOnWheels</a> is a small and (hopefully) straight forward rapid web development framework for pyhton. It is based on MVC and the handling principles from the brilliant <a href="http://www.rubyonrails.org/">ruby on rails.</a>

        {#
            <h2> Argument List: </h2>
            {{ argslist }}
            <hr>
            {{ kwargslist }}
            <hr>
            {{ request }}
        #}
    </p>
    <a href="/features" role="button" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-hand-right"></span> Learn more
    </a>
</div>
{% end %}

