{% extends "layouts/jumbotron_layout.html" %}

{# is rendered in the content block of main.html view view #}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, nice to meet you!</h1>
        <h3>Welcome to your new PythonOnWheels/copow App: #APPNAME</h3>
        <p>
            You can watch the 10 Minute intro video or follow the 3 step
            quickstart documentation below.
        </p>
        <p><a href="http://youtu.be/YxpJPyOKuYA" class="btn btn-primary btn-lg" role="button">Watch  video &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Generate your model:</h2>
          <p>Generate you first model (including controller and scaffolding) by:"
            <p>
              
                    <b>python generate_model.py modelname</b>
              
            </p>
            This will automatically generate a model, the related controller, the scaffolding 
            as well as the REST-routes to access it. All fully automatic.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    
        <div class="col-md-4">
          <h2>Edit your schema:</h2>
          <p>
            <ul>
                <li>open migrations/modelname_id.py</li>
                <li>edit it according to your needs</li>
                <li>run:
                    <p>
                        <b>python do_migrate -d up</b>
                    </p>
                </li>
            </ul>
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
    
        <div class="col-md-4">        
          <h2>Test and Enjoy</h2>
          <p>
            <ul>
                <li> <p>
                    <b>python server.py</b>
                    </p>
                </li>
                <li>open a browser and go to 
                    <p>
                    <b>localhost:8000/modelname</b>
                    </p>
                </li>
                <li>You should see the <b>list</b> action of the <b>controller</b></li>
            </ul>
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% end %}

