<!-- copow / pythononwheels list view template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->


{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">this is the create view: </div>

    <table class="table">       
        {% for key in model.schema.keys() %}
            <tr> 
                <td>{{ escape(key) }}</td>
                <td>{{ escape(model.get(key)) }}</td>
            </tr>
        {% end %}
    </table>

{% end %}
