<!-- copow / pythononwheels list template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->



{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">this is the list view: </div>

    <table class="table">
        <thead>
            {% for key in result[0].schema.keys() %}
                <th>{{ escape(key) }}</th>
            {% end %}
        </thead>
        <tbody>
            {% for model in result %}
                <tr>
                    {% for att in model.schema.keys() %}
                      <td>{{ escape(model.get(att)) }}</td>
                    {% end %}
                </tr>
            {% end %}
        </tbody>
    </table>
    Module call test:
    <hr>
    {% module form_select(model=result, attribute="title") %}
{% end %}