<!-- copow / pythononwheels list view template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->



{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}
{% set model = result %}


    <!-- Default panel contents -->
    <p><b> This is the show view: </b>
        <a href="/{{model.modelname}}">show {{model.modelname}} list</a>
    </p>
        <div class="table-responsive">
            <table class="table">
                
                {% for att in result.schema.keys() %}
                    <tr>
                      <td>{{ att }}</td>
                      <td>{{ escape(result.get(att)) }}</td>
                    </tr>
                {% end %}
                 <tr>
                        <td>
                            <b>
                                Actions:
                            </b>
                        </td>
                        <td><p>
                                <span class="glyphicon glyphicon-edit"></span>
                                <a href="/{{result.modelname}}/{{result._id}}/update">edit</a> 
                            </p>
                        </td>

                    </tr>
            </table>
        </div>

        {% module form_select(model=result, attribute="title") %}

        To get this by using curl just do on the command line
        <hr>
        <pre>
            </code>
                curl -i -H "Accept: application/json" http://localhost:8000/{{result.modelname}}/{{result._id}}
            </code>
        </pre>
    
{% end %}
