<!-- copow / pythononwheels list view template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->



{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading"><b> This is the show view: </b></div>
        <div class="panel-body">
            <table class="table">
                
                {% for att in result.schema.keys() %}
                    <tr>
                      <td>{{ att }}</td>
                      <td>{{ escape(result.get(att)) }}</td>
                    </tr>
                {% end %}
                 <tr>
                        <td>
                            <div class="alert alert-info" role="alert">
                                Actions:
                            </div>
                        </td>
                        <td><div class="alert alert-info" role="alert">
                                <span class="glyphicon glyphicon-edit"></span>
                                <a href="/{{result.modelname}}/{{result._id}}/update">edit</a> 
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>To get this by using curl just do on the command line</td>
                        <td>
                            curl -i -H "Accept: application/json" http://localhost:8000/{{result.modelname}}/{{result._id}}
                        </td>

                    </tr>
            </table>

            {% module form_select(model=result, attribute="title") %}

            To get this by using curl just do on the command line
            <hr>
            curl -i -H "Accept: application/json" http://localhost:8000/{{result.modelname}}/{{result._id}}
        </div>
    </div>
{% end %}
