<!-- copow / pythononwheels list view template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->



{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}

{% set model = result %}

<script>
    $(document).ready(function(){
        // Handler for .ready() called.
        $('#test').click( function() {
            alert('aha aha aha' );
        });
    });

</script>



    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b> This is the show view: </b></div>

    <form role="form" action="/">
        {% for att in model.schema.keys() %}
            <div class="form-group">
                <label for="{{att}}">{{att}}</label>
                <input  type="{{att}}" 
                        class="form-control" 
                        id="exampleInputEmail1" 
                        placeholder="Enter email">
            </div>
        {% end %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <p id="test">Test</p>


    {% module form_select(model=result, attribute="title") %}

    To get this by using curl just do on the command line
    <hr>
    curl -i -H "Accept: application/json" http://localhost:8000/{{result.modelname}}/{{result._id}}
{% end %}
