<!-- copow / pythononwheels list view template -->
<!-- for scaffolding views -->
<!-- www.pythononwheels.org -->



{% extends "layouts/main_layout.html" %}

{# this will be rendered in the content block of main.html view view #}

{% block content %}
{% import #APPNAME.config.settings as settings %}
{% set model = result %}
{% set server = settings.base["server"] %}
{% set port  = settings.base["port"] %}

<script>
    $(document).ready(function(){
        // Handler for .ready() called.
        $('#test').click( function() {
            alert('aha aha aha' );
        });
    
        $('#submit').click( function() {
            $.ajax({
                type: 'POST',
                url: "/{{server}}:{{port}}/{{model.modelname}}/{{model._id}}/update",
                // The key needs to match your method's input parameter (case-sensitive).
                data: JSON.stringify({ "test": "test_value" }),
                contentType: "application/json; charset=utf-8",
                dataType: "application/json",
                success: function(data){alert(data);},
                failure: function(errMsg) {alert(errMsg);}
            });
        });
    });
</script>



    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading"><b> This is the show view: </b></div>
        <div class="panel-body">
            <p>&nbsp;</p>
            <form class="form-horizontal" role="form">
                {% for att in model.schema.keys() %}
                    <div class="form-group">
                        <label for="{{att}}" class="col-sm-2 control-label">{{att}}</label>
                        <div class="col-sm-8">
                                <input  type="text" 
                                        class="form-control" 
                                        id="{{att}}" 
                                        value="{{model.get(att)}}"
                                        {% if att == "_id" %}
                                            readonly
                                        {% end %}
                                        >
                        </div>
                    </div>
                {% end %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            <p id="test">Test</p>


            {% module form_select(model=result, attribute="title") %}
            
            To get this by using curl just do on the command line
            <hr>
            curl -i -X POST --data "id=1234"  --header "Content-Type:application/json" 
            http://{{server}}:{{port}}/{{result.modelname}}/{{result._id}}/update
        </div>
    </div>
{% end %}
